.admin-nav {
    margin-bottom: 20px;
}

.nav-tabs-body {
    border: 1px solid #ddd;
    border-top: none;
    padding: 5px;
}

.break-word {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.panel-body::before, .panel-body::after {
    content: '';
}

.raw-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.inline {
    float: none;
    display: inline-block;
    margin-right: -1em;
    vertical-align: top;
}

.pagination, .pager {
    margin: 0;
}

.list-group-item.asc, .list-group-item.desc {
    color: #31708f;
    background-color: #d9edf7;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.required label:after {
    content: " *";
}
